<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Kos.moe</title>
</head>
<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <div id="app" class="container">
    {{{ body }}}
  </div>
</body>
</html>