<form class="box" method="post" action="authorize">
  <h1 class="is-size-3">앱 인증</h1>
  <input type="hidden" name="clientId" value="{{clientId}}">
  <input type="hidden" name="redirectURI" value="{{redirectURI}}">
  <input type="hidden" name="scope" value="{{scope}}">
  <div>
    <button type="submit" class="button is-primary">앱 승인</button>
  </div>
</form>